* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --Orange : hsl(26, 100%, 55%);
    --PaleOrange : hsl(25, 100%, 94%);
    --VeryVarkBlue : hsl(220, 13%, 13%);
    --DarkGrayishBlue : hsl(219, 9%, 45%);
    --GrayishBlue : hsl(220, 14%, 75%);
    --LightGrayishBlue : hsl(223, 64%, 98%);
    --White : hsl(0, 0%, 100%);
    /*(with 75% opacity for lightbox background)*/
    --Black : hsl(0, 0%, 0%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0 auto;
    max-width: 1250px;
    background-color: var(--White);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
header .img-menu {
    display: none;
}
header nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
header nav ul li {
    margin-inline: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: var(--DarkGrayishBlue);
    font-weight: 700;
}
header .img-cart-avatar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .img-cart-avatar .img-cart {
    margin-right: 50px;
    cursor: pointer;
}
header .img-cart-avatar .img-avatar {
    width: 50%;
}
hr {
    color: var(--DarkGrayishBlue);
    width: 95%;
    margin: 0 auto;
}
.main-container {
    display: flex;
    align-items: flex-start;
    height: 80vh;
    margin-top: 120px;
    padding: 50px;
}
.main-container .product-content .img-product-large {
    width: 80%;
    border-radius: 5px;
    height: auto;
}
.main-container .product-content .products-thumbnail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    width: 80%;
    height: auto;
}
.main-container .product-content .products-thumbnail img {
    width: 20%;
    border-radius: 5px;
}
.main-container .text-content {
    padding-top: 50px;
    padding-right: 70px;
    
}
.main-container .text-content .txt-Sneaker {
    color: var(--Orange);
    font-weight: 700;
    margin-bottom: 30px;
}
.main-container .text-content h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 700;
}
.main-container .text-content .txt-parrafo {
    color: var(--DarkGrayishBlue);
    margin-bottom: 50px;
    font-weight: 400;
}
.main-container .text-content .price {
    color: var(--Black);
    font-size: 1.8rem;
    font-weight: 700;
}
.main-container .text-content .discount {
    background-color: var(--LightGrayishBlue);
    margin-left: 20px;
    padding: 9px;
    font-weight: 400;
    color: var(--Orange);
}
.main-container .text-content .original-price {
    color: var(--DarkGrayishBlue);
    text-decoration: line-through;
}
.text-content .cantidad-button {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.text-content .cantidad-button p {
    color: var(--Orange);
    font-weight: 700;
    font-size: 1.8rem;
}
.text-content .cantidad-button .masmenos {
    color: var(--Orange);
    cursor: pointer;
}
.text-content .cantidad-button span {
    color: var(--Black);
    margin-left: 20px;
    margin-right: 20px;
}
.text-content .cantidad-button button {
    background-color: var(--Orange);
    color: var(--White);
    margin-right: 100px;
    padding: 15px 40px;
    border: solid 0.1rem var(--orange);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.text-content .cantidad-button img {
    margin-right: 15px;
}
#checkout-content {
    color: var(--Orange);
    position: absolute;
    z-index: 3;
    border: solid 1px;
    
}
    
    
}


@media (max-width: 375px) {
    body {
        background-color: var(--White);
    }
    .main-container{
        display: block;
        margin: 0 auto;
    }
}
