* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --Orange : hsl(26, 100%, 55%);
    --PaleOrange : hsl(25, 100%, 94%);
    --VeryVarkBlue : hsl(220, 13%, 13%);
    --DarkGrayishBlue : hsl(219, 9%, 45%);
    --GrayishBlue : hsl(220, 14%, 75%);
    --LightGrayishBlue : hsl(223, 64%, 98%);
    --White : hsl(0, 0%, 100%);
    /*(with 75% opacity for lightbox background)*/
    --Black : hsl(0, 0%, 0%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0 auto;
    min-width: 320px;
    background-color: var(--White);
}
header {
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

header .img-avatar {
    width: 9%;
}

.main-container .img-product-large {
    width: 100%;
}
/*menu mobil*/
.nav-menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 70%;
    background-color: var(--White);
    padding-inline: 30px;
    padding-top: 15px;
}
.nav-menu span {
    font-weight: bold;
    color: var(--DarkGrayishBlue);
}
.nav-menu ul {
    list-style: none;
}
.nav-menu ul li {
    margin-bottom: 17px;
    margin-top: 38px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: var(--VeryVarkBlue);
    font-weight: bold;
}
/*DIALOG*/
dialog {
    width: 95%;
    margin: 0 auto;
    margin-top: 6px;
    height: 290px;
    border: none;
    border-radius: 5px;
    box-shadow: -1px 7px 21px 1px rgba(0,0,0,0.5);
}
.p-cart {
    padding: 25px 15px;
    font-weight: bold;
}
.hr-container-checkout {
    color: var(--GrayishBlue);
}
.p-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    font-weight: 600;
    color: var(--DarkGrayishBlue);
}
/*termina dialog*/
.main-container .flechas-container {
    position: absolute;
    top: 220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flechas-container .img-flechas {
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.text-content {
    min-width: 320px;
    padding: 15px;
   
}
.txt-Sneaker {
    color: var(--Orange);
    font-weight: bold; 
    margin-bottom: 15px;
}
.text-content__title {
    font-weight: bold;
    margin-bottom: 15px;
}
.txt-parrafo {
    color: var(--GrayishBlue);
    margin-bottom: 25px;
}
.price-descuento-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.price {
    font-size: 1.3rem;
    font-weight: bold;
}
.discount {
    padding: 3px 11px;
    border-radius: 5px;
    margin-right: 50px;
    background-color: var(--PaleOrange);
    color: var(--Orange);
    font-weight: bold;
}
.original-price {
    color: var(--DarkGrayishBlue);
    text-decoration: line-through;
}
.cantidad-button p {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.masmenos {
    font-weight: bold;
    font-size: 2rem;
    color: var(--Orange);
}
.add-to-cart-btn {
    display: flex;
    width: 96%;
    margin: 5px auto;
    border: none;
    background-color: var(--Orange);
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--White);
    font-weight: bold;
}
.add-to-cart-btn img {
    margin-right: 16px;
}

@media (max-width: 425px) {
    nav{
        display: none;
    }
    .products-thumbnail {
        display: none;
    }
}